<main class="content">
	<div class="content-header ui-content-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-push-1 col-sm-10 col-sm-push-1">
					<h1 class="content-heading">학과별 강의</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
    	<div class="row">
		    <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
		        <section class="content-inner margin-top-no">
                    <br>
                    <br>
                    <br>
                    <h2 class="content-sub-heading">Basic Cards</h2>
                    <p>asdfasdfasㅁㄴㅇㄻㄴㅇㄻㄴㅇㄻㄴadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
                    <p>asdfasdfasdfdasfsdfasdfasdfasdfasdfsadfsadfsadfsd</p>
		        </section>
            </div>
        </div>
	</div>
</main>
